<p id="notice"><%= notice %></p>

<div class="toppage">
<h1 class="top">MYトレーニングメモ</h1>
<br>

<div class="row">
<div class="col-md-3">

<%= form_with(model: @blog, local: true) do |form| %>

  <div class="title">
    <div class="form-tag">トレーニング名</div>
    <%= form.text_area :title %>
  </div>
  
  <div class="weight">
    <div class="form-tag">重量（kg）</div>
    <%= form.text_field :title %>
  </div>
  
  <div class="rep">
    <div class="form-tag">回数</div>
    <%= form.text_field :title %>
  </div>
  
  <div class="set">
    <div class="form-tag">セット数</div>
    <%= form.text_field :title %>
  </div>

  <div class="time">
    <div class="form-tag">トレーニング日</div>
    <%= form.datetime_select :start_time %>
  </div>

 <div class="submit">
    <%= form.submit %>
 </div>
<% end %>
</div>

<div class="col-md-9">
<%= month_calendar events: @blogs do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title, blog %>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>